[Desktop Entry]
Name=Arkade
Name[ca]=Arkade
Name[ca@valencia]=Arkade
Name[es]=Arkade
Name[nl]=Arkade
Name[nn]=Arkade
Name[pt]=Arkade
Name[pt_BR]=Arkade
Name[sl]=Arkade
Name[sv]=Arkad
Name[uk]=Arkade
Name[x-test]=xxArkadexx
Comment=A collection of games
Comment[ca]=Una col·lecció de jocs
Comment[ca@valencia]=Una col·lecció de jocs
Comment[es]=Una colección de juegos
Comment[nl]=Een verzameling spellen
Comment[nn]=Ei samling spel
Comment[pt]=Uma colecção de jogos
Comment[pt_BR]=Uma coleção de jogos
Comment[sl]=Zbirka iger
Comment[sv]=En spelsamling
Comment[uk]=Збірка ігор
Comment[x-test]=xxA collection of gamesxx
Version=1.0
Exec=arkade
MimeType=application/x-arkade;
Icon=applications-games
Type=Application
Terminal=false
Categories=Qt;KDE;Game
