[Desktop Entry]
Name=GameCenter
Comment=GameCenter Kirigami Application
Version=1.0
Exec=gamecenter
MimeType=application/x-gamecenter;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
