[Desktop Entry]
Name=GameCenter
Name[ca]=Centre de jocs
Name[ca@valencia]=Centre de jocs
Name[el]=GameCenter
Name[es]=Centro de juegos
Name[it]=Centro di giochi
Name[nl]=GameCenter
Name[nn]=Spelsenter
Name[sl]=Igralni center
Name[sv]=Spelcenter
Name[uk]=Центр ігор
Name[x-test]=xxGameCenterxx
Comment=GameCenter Kirigami Application
Comment[ca]=Aplicació Kirigami de Centre de jocs
Comment[ca@valencia]=Aplicació Kirigami de Centre de jocs
Comment[el]=Εφαρμογή GameCenter Kirigami
Comment[es]=Aplicación de centro de juegos en Kirigami
Comment[it]=Applicazione in Kirigami Centro di giochi
Comment[nl]=Kirigami-toepassing GameCenter
Comment[nn]=Spelsenter Kirigami-program
Comment[sl]=Kirigami aplikacija Igralni center
Comment[sv]=Spelcenter Kirigami-program
Comment[uk]=Програма на Kirigami «Центр ігор»
Comment[x-test]=xxGameCenter Kirigami Applicationxx
Version=1.0
Exec=gamecenter
MimeType=application/x-gamecenter;
Icon=applications-development
Type=Application
Terminal=false
Categories=Qt;KDE;
