[Desktop Entry]
Name=Arkade
Name[ca]=Arkade
Name[ca@valencia]=Arkade
Name[cs]=Arkade
Name[de]=Arkade
Name[el]=Arkade
Name[en_GB]=Arkade
Name[es]=Arkade
Name[eu]=Arkade
Name[fi]=Arkade
Name[fr]=Arkade
Name[it]=Arkade
Name[ko]=Arkade
Name[nl]=Arkade
Name[nn]=Arkade
Name[pl]=Arkade
Name[pt]=Arkade
Name[pt_BR]=Arkade
Name[sl]=Arkade
Name[sv]=Arkad
Name[uk]=Arkade
Name[x-test]=xxArkadexx
Comment=A collection of games
Comment[ca]=Una col·lecció de jocs
Comment[ca@valencia]=Una col·lecció de jocs
Comment[de]=Eine Sammlung von Spielen
Comment[el]=Συλλογή παιχνιδιών
Comment[en_GB]=A collection of games
Comment[es]=Una colección de juegos
Comment[eu]=Joko bilduma bat
Comment[fi]=Pelikokoelma
Comment[fr]=Une collection de jeux
Comment[it]=Una raccolta di giochi
Comment[ko]=게임 모음집
Comment[nl]=Een verzameling spellen
Comment[nn]=Ei samling spel
Comment[pl]=Zbiór gier
Comment[pt]=Uma colecção de jogos
Comment[pt_BR]=Uma coleção de jogos
Comment[sl]=Zbirka iger
Comment[sv]=En spelsamling
Comment[uk]=Збірка ігор
Comment[x-test]=xxA collection of gamesxx
Version=1.0
Exec=arkade
MimeType=application/x-arkade;
Icon=applications-games
Type=Application
Terminal=false
Categories=Qt;KDE;Game
