[Desktop Entry]
Name=Samegame
Name[ca]=Joc iguals
Name[ca@valencia]=Joc iguals
Name[el]=Samegame
Name[en_GB]=Samegame
Name[es]=Samegame
Name[it]=Samegame
Name[nl]=Samegame
Name[nn]=Samegame
Name[sk]=Samegame
Name[sl]=Ista igra
Name[sv]=Samegame
Name[uk]=Та сама гра
Name[x-test]=xxSamegamexx
Icon=office-calendar

Type=Service
X-KDE-ServiceTypes=GameCenter/Game
X-KDE-ParentApp=org.kde.gamecenter
X-KDE-PluginInfo-Author=Carl Schwan
X-KDE-PluginInfo-Email=carl@carlschwan.eu
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.gamecenter.samegame
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
