[Desktop Entry]
Name=Samegame
Name[ca]=Joc iguals
Name[ca@valencia]=Joc iguals
Name[de]=SameGame
Name[el]=Samegame
Name[en_GB]=Samegame
Name[es]=Samegame
Name[eu]=Samegame
Name[fr]=Même jeu
Name[hi]=सेमगेम
Name[hu]=Samegame
Name[it]=Samegame
Name[ko]=일치 게임
Name[nl]=Samegame
Name[nn]=Samegame
Name[pl]=Ta sama gra
Name[pt]=Samegame
Name[pt_BR]=SameGame
Name[sk]=Samegame
Name[sl]=Ista igra
Name[sv]=Samegame
Name[tr]=Aynı oyun
Name[uk]=Та сама гра
Name[x-test]=xxSamegamexx
Name[zh_CN]=消消乐
Icon=office-calendar

Type=Service
X-KDE-ServiceTypes=Arkade/Game
X-KDE-ParentApp=org.kde.arkade
X-KDE-PluginInfo-Author=Carl Schwan
X-KDE-PluginInfo-Email=carl@carlschwan.eu
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.arkade.samegame
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
