[Desktop Entry]
Name=Play with blocks
Name[ca]=Juga amb blocs
Name[ca@valencia]=Juga amb blocs
Name[el]=Παίζω με τουβλάκια
Name[en_GB]=Play with blocks
Name[es]=Jugar con bloques
Name[eu]=Blokeekin jokatu
Name[fr]=Jouer avec des blocs
Name[it]=Gioca a blocks
Name[nl]=Met blokken spelen
Name[nn]=Spel med klossar
Name[pt]=Jogar com blocos
Name[pt_BR]=Jogar com blocos
Name[sl]=Igraj se s kockami
Name[sv]=Lek med klossar
Name[uk]=Гра з блоками
Name[x-test]=xxPlay with blocksxx
Icon=office-calendar

Type=Service
X-KDE-ServiceTypes=Arkade/Game
X-KDE-ParentApp=org.kde.arkade
X-KDE-PluginInfo-Author=Carson Black
X-KDE-PluginInfo-Email=uhhadd@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.arkade.blocktennis
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
