[Desktop Entry]
Name=Play with blocks
Name[ca]=Juga amb blocs
Name[ca@valencia]=Juga amb blocs
Name[el]=Παίζω με τουβλάκια
Name[es]=Jugar con bloques
Name[nl]=Met blokken spelen
Name[sl]=Igraj se s kockami
Name[sv]=Lek med klossar
Name[uk]=Гра з блоками
Name[x-test]=xxPlay with blocksxx
Icon=office-calendar

Type=Service
X-KDE-ServiceTypes=GameCenter/Game
X-KDE-ParentApp=org.kde.gamecenter
X-KDE-PluginInfo-Author=Carson Black
X-KDE-PluginInfo-Email=uhhadd@gmail.com
X-KDE-PluginInfo-License=GPL-3.0-or-later
X-KDE-PluginInfo-Name=org.kde.gamecenter.blocktennis
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
